body {
    background-color: blueviolet;
    /* font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* margin: 0; */
}
/* .container { */
    /* width: 100%;
    max-width: 350px;
    padding: 20px;
}

.form {
    padding: 40px;
} */
